.header {
	background: #333333;
	height: 140px;
	text-align: center;
}

.nav {
	padding-top: 30px;
	word-spacing: 7px;
	font-family: 'Roboto Condensed', sans-serif;
	size: 12px;
}

a {
	text-decoration: none;
	color: #2e81b7;
	font-weight: bold;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 900;
	padding-top: 30px;
	text-align: center;
}

.adbox1 {
	font-family: 'Lora', serif;
	font-size:12px;
	width: 800px;
	height: 77px;
	font-weight: bold;
	background-color: #2cfffe;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 3px;
}

.ad-wrap {
	border-bottom: 1px solid #d8dcdf;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 15px;
}

.adbox2 {
	font-family: 'Lora', serif;
	width: 385px;
	height: 77px;
	font-size:12px;
	font-weight: bold;
	background-color: #2cfffe;
	margin-top: 15px;
	margin-bottom: 15px;
}

.container {
	margin-bottom: 17px;
}

.main-sidebar {
	margin-left: 80px;
	margin-right: 120px;
}

.center-story {
	text-align: center;
	padding-left: 80px;
	padding-right: 80px;
}

.most-viewed-stories {
	margin-left: 90px;
	margin-right: 25px;
	padding-left: 40px;
}

.refers {
	padding-bottom: 10px;
	margin-left: 80px;
	margin-right: -160px;
}

.byline {
	font-family: 'Lora', serif;
	color: #bababa;
	font-size: 9.5px;
	font-weight: bold;
	margin-bottom: 7px;
}

.byline span {
	text-transform: uppercase;
}

.summary {
	font-family: 'Lora', serif;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 13px;
	border-bottom: 1px solid #d8dcdf;
}

.kicker {
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
}

img {
	width: 80%;
	padding-top: 12px;
}

.caption {
	font-family: 'Lato', sans-serif;
	color:#b3b3b3;
	font-size: 10.5px;
	text-align: left;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 5px;
	padding-bottom: 10px;
	font-weight: bold;
}

h3 {
	font-family: 'Lora', serif;
	font-size: 24px;
	padding: 5px 70px 10px 70px;
}

h4 {
	font-family: 'Lora', serif;
	font-size: 12px;
	line-height: 14px;
	margin-right: 25px;
}

.center-story .summary {
	font-family: 'Lora', serif;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 13px;
	border-bottom: 1px solid #d8dcdf;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 20px;
	margin-right: 20px;
}

ol {
    counter-reset:li; 
    padding-left:0px;
    font-family: 'Lato', sans-serif;
    font-size: 10.5px;
    padding-top: 10px;
}

ol > li {
    position:relative;
    margin: 4px 0px 6px 10px;
    list-style:none;
    border-bottom: 1px solid #d8dcdf;
    padding: 6px;
}

ol > li:before {
    content:counter(li); 
    counter-increment:li;
    position: absolute;
    top:-2px;
    left:-30px;
    width:32px;
    margin-right: 8px;
    padding:6px;
    text-align:center;
}

h2 {
 	font-family: 'Roboto Condensed', sans-serif;
 	font-size: 25px;
 	font-weight: bold;
 	text-transform: uppercase;
 	letter-spacing: -1px;
 	margin-top: 10px;
 	margin-bottom: 8px;
}

h4 {
	font-family: 'Lora', serif;
	padding: 8px 10px 5px 0px;
}

.kicker {
	font-family: 'Lato', sans-serif;
	font-size: 9px;
	font-weight: bold;
}

.footer {
	background: #333333;
	font-family: 'Lato', sans-serif;
	color: #cbcbcb;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	text-align: center;
	padding-top:26px;
	padding-bottom: 2px;
}